<?xml version='1.0' encoding='utf-8'?>
<widget id="cn.robodou.competition" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Robodou</name>
    <description>
          The Robodou complete app.
        </description>
    <author email="service@robodou.cn" href="http://intro.domelab.com">
            Robodou Team
        </author>
    <preference name="DisallowOverscroll" value="true" />
    <preference name="StatusBarOverlaysWebView" value="true" />
    <feature name="StatusBar">
        <param name="ios-package" onload="true" value="CDVStatusBar" />
    </feature>
    <preference name="SplashScreenDelay" value="5000" />
    <preference name="FadeSplashScreen" value="false" />
    <preference name="ShowSplashScreenSpinner" value="false" />
    <preference name="Orientation" value="landscape" />
    <feature name="CDVWKWebViewEngine">
        <param name="ios-package" value="CDVWKWebViewEngine" />
    </feature>
    <access origin="*" />
</widget>
