.body {
    background: #000;
}

.pages {
    width: 60%;
    margin-left: 40%;
    background: none;
}

.verticalTabBar {
    width: 40%;
    float: left;
}

.view {
    background: url(../images/bg.png) no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
}

.page {
    background: none;
}

.page-content {
    margin: 20% 10%;
}

#judge-container {
    width: 80%;
    height: 30%;
    background: url(../images/login-border.png) no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
}

aside-linker {
    display: block;
}

.asideBar {
    left: 10%;
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    text-align: center;
}

.asideBar h2 {
    color: aliceblue;
    padding: 20px;
    font-size: 0.5rem;
}

.asideBar .btn {
    background: url(../images/icon-1.png);
    background-position: left center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
    position: relative;
}

#judge {
    background: url(../images/icon-judge.png);
    background-position: left center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

#msg {
    background: url(../images/icon-msg.png);
    background-position: left center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

#score {
    background: url(../images/icon-score.png);
    background-position: left center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

#data {
    background: url(../images/icon-data.png);
    background-position: left center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}