.body {
    background: #000;
}

.page {
    /*
    background: url(../images/bg.png) no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
*/
    background-color: cadetblue;
}

.page-content {
    margin: 20% 10%;
}

#judge-container {
    background: url(../images/login-border.png) no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
    background: #000;
}

.view-left {
    float: left;
    width: 320px;
    border: none;
}

.view-main {
    width: -webkit-calc(100% - 321px);
    width: -moz-calc(100% - 321px);
    width: -ms-calc(100% - 321px);
    width: calc(100% - 321px);
}

@media (max-width: 768px) {
    .view-left {
        width: 240px;
    }
    .view-main {
        width: -webkit-calc(100% - 241px);
        width: -moz-calc(100% - 241px);
        width: -ms-calc(100% - 241px);
        width: calc(100% - 241px);
    }
}

aside-linker {
    display: block;
}

.asideBar {
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    text-align: center;
}

.asideBar h2 {
    color: aliceblue;
    padding: 20px;
    font-size: 0.5rem;
}

.asideBar .btn {
    background: url(../images/icon-1.png);
    background-position: left center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
    position: relative;
}

#judge {
    background: url(../images/icon-judge.png);
    background-position: left center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

#msg {
    background: url(../images/icon-msg.png);
    background-position: left center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

#score {
    background: url(../images/icon-score.png);
    background-position: left center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

#data {
    background: url(../images/icon-data.png);
    background-position: left center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}